.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacer-2);
  width: 100%;
}

.progressBarWrapper {
  background-color: var(--gray);
  border: 1px solid var(--powder);
  border-radius: 8px;
  height: 10px;
  width: 25%;
}

.progressBar {
  border-radius: inherit;
  height: 100%;
  transition-duration: 0.4s;
}

.redBar {
  background-color: var(--vivid-burgundy);
}

.orangeBar {
  background-color: var(--atomic-tangerine);
}

.blueBar {
  background-color: var(--yale-blue);
}

.greenBar {
  background-color: var(--dartmouth-green);
}

.label {
  flex-basis: 100%;
  font-size: var(--small);
  text-align: left;
}
