/* specificity doubled in order to override base container styles */
.container.container {
  @media (min-width: 1101px) {
    margin-left: 250px;
    width: calc(100% - 350px);
  }
}

.main {
  margin-top: var(--spacer-4);
}

.settingsOptions {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-4);
  margin-top: var(--spacer-4);

  & a {
    border-bottom: 1px solid var(--subtle-gray);
    padding-bottom: var(--spacer-3);
  }
}

.settingsContainer {
  margin-top: var(--spacer-4);
}

.backlink {
  align-items: center;
  border: 1px solid var(--subtle-gray);
  display: flex;
  margin-top: var(--spacer-2);
  margin-left: calc(-1 * var(--spacer-4));
  margin-right: calc(-1 * var(--spacer-4));
  padding: var(--spacer-2) var(--spacer-4);
}

.icon {
  height: 16px;
  margin-right: var(--spacer-1);
  width: 16px;
}

.settingsContainer h3 {
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
}

.btn {
  composes: btn from "@/styles/blocks.module.css";
  font-size: var(--base-font-size);
}
