.main {
  composes: page-intro from "@/styles/blocks.module.css";
}

.newAccountFlows {
  margin-top: var(--spacer-4);

  @media (min-width: 768px) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.newAccountFlows > * {
  flex: 1;
  transition-duration: 0.4s;
}

.newAccountFlows > *:hover {
  box-shadow: 5px 5px 0 var(--black);
}

.heroCta {
  composes: btn from '@/styles/blocks.module.css';
  display: block;
  text-align: center;
}

.signUp {
  background-color: var(--white);
}

.oauthBtn {
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-top: var(--spacer-2);

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: var(--spacer-2);
  }

  &:hover {
    background-color: var(--powder);
    color: var(--black);

    > .githubIcon {
      fill: var(--black);
    }
  }
}

.githubIcon {
  fill: var(--white);
  width: 20px;
  margin-right: var(--spacer-1);
  transition-duration: 0.4s;
}
