.container.isFileTreeShowing {
  background: rgba(0, 0, 0, 0.5);
}

/* specificity doubled in order to override base container styles */
.container.container {
  @media (min-width: 1101px) {
    margin-left: 250px;
    width: calc(100% - 350px);
  }
}

.fileExplorerBtn {
  composes: btn from "@/styles/blocks.module.css";
  align-items: center;
  box-shadow: 5px 5px var(--black);
  display: flex;
  font-size: var(--small);
  margin-top: var(--spacer-1);

  @media (min-width: 1101px) {
    display: none;
  }
}

.icon {
  height: 20px;
  margin-right: var(--spacer-1);
  width: 20px;
}

.codeContainer {
  font-family: "Fira Code", ui-monospace, monospace;
  font-size: 0.875rem;
}

/* specifity doubled in order to override base codeviewer styles */
.codeViewerWithMenu.codeViewerWithMenu {
  border-top-width: 0;
  margin-top: 0;
}

/* specifity doubled in order to override base codeviewer styles */
.codeViewerWithoutMenu.codeViewerWithoutMenu {
  margin-top: var(--spacer-4);
}
