.container.isFileTreeShowing {
  background: rgba(0, 0, 0, 0.5);
}

/* TODO: Move subNav styles to SubNav component css module file */
.subNav {
  display: flex;
  gap: var(--spacer-2);
  margin-top: var(--spacer-3);
  max-width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.subNav::-webkit-scrollbar {
  display: none;
}

.subNav a {
  padding-bottom: var(--spacer-1);
  transition-duration: 0.1s;
}

.subNav a:hover:not(.active) {
  border-bottom: 2px dashed var(--black);
}

.subNav .active {
  border-bottom: 2px solid var(--black);
  font-weight: 700;
}

.main {
  margin-top: var(--spacer-4);
}

.icon {
  height: 20px;
  margin-right: var(--spacer-1);
  width: 20px;
}

.fileExplorerBtn {
  composes: btn from "@/styles/blocks.module.css";
  align-items: center;
  box-shadow: 5px 5px var(--black);
  display: flex;
}

.fileTree {
  background: var(--powder);
  border: 8px solid var(--black);
  height: 100%;
  left: -250px;
  overflow: hidden;
  padding: var(--spacer-4);
  /* padding-top: var(--spacer-12); */
  padding-top: 0;
  position: fixed;
  top: 0;
  transition-duration: 0.4s;
  width: 250px;
}

.fileTree.isFileTreeShowing {
  left: 0;
}

.title {
  align-items: flex-start;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: var(--base-font-size);
  margin-bottom: var(--spacer-6);
  margin-inline: calc(var(--spacer-4) * -1);
  padding-block: var(--spacer-2);
  padding-left: var(--spacer-4);
}

.title .icon {
  fill: var(--powder);
  height: 14px;
  width: 14px;
}

.directory > .directory,
.directoryContent {
  padding-left: var(--spacer-2);
}

.directory > * {
  display: none;
}

.directory.expanded > * {
  display: block;
}

.directoryName,
.directoryContent {
  cursor: pointer;
  padding-top: var(--spacer-1\/2);
}

.directoryName {
  display: flex;
  align-items: center;
}

.directoryName .icon {
  height: 12px;
  width: 12px;
}
