.icon {
  height: 20px;
  margin-right: var(--spacer-1);
  width: 20px;
}

.fileTree {
  background: var(--powder);
  border: 8px solid var(--black);
  height: 100%;
  left: -250px;
  overflow-y: auto;
  padding: var(--spacer-4);
  padding-top: 0;
  position: fixed;
  top: 0;
  transition-duration: 0.4s;
  width: 250px;

  @media (min-width: 1101px) {
    left: 0;
  }
}

.fileTree.isFileTreeShowing {
  left: 0;
}

.title {
  align-items: flex-start;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: var(--base-font-size);
  margin-bottom: var(--spacer-6);
  margin-inline: calc(var(--spacer-4) * -1);
  padding-block: var(--spacer-2);
  padding-left: var(--spacer-4);
}

.title .icon {
  fill: var(--powder);
  height: 14px;
  width: 14px;
}

.branchName {
  align-items: center;
  display: flex;
  font-size: var(--small);
}

.branchName .icon {
  height: 12px;
}

.description {
  font-size: var(--small);
  margin-top: var(--spacer-1);
}

.directory,
.directoryContent {
  font-size: 0.875rem; /* not part of the typography scale but looks the best for the folder tree */
}

.directory > .directory,
.directoryContent {
  padding-left: var(--spacer-2);
}

.directory > * {
  display: none;
}

.directory.expanded > * {
  display: block;
}

.directoryName,
.directoryContent {
  cursor: pointer;
  overflow: hidden;
  padding-top: var(--spacer-1\/2);
  text-overflow: ellipsis;
  white-space: nowrap;

  &::selection {
    background: transparent;
  }

  &:hover {
    background-color: var(--black);
    color: var(--powder);

    .icon {
      fill: var(--powder);
    }
  }
}

.directoryName {
  display: block;
}

.directoryName .icon,
.directoryContent .icon {
  height: 12px;
  vertical-align: middle;
  width: 12px;
}
