.container {
  display: flex;
  flex-direction: column;
}

.main {
  composes: page-intro from "@/styles/blocks.module.css";
  background-color: var(--white);
  border: 2px solid var(--black);
  margin: auto;
  padding: var(--spacer-3);
}

.form {
  margin-top: var(--spacer-2);
}

.group {
  margin-top: var(--spacer-4);
  position: relative
}

.group label {
  font-size: var(--small);
  font-weight: 700;
  position: absolute;
  top: -18px; 
}

.icon {
  fill: var(--black);
  left: 10px;
  opacity: 0.9;
  position: absolute;
  top: 13px;
  width: 20px;
}

.togglePasswordVisibilityIconWrapper {
  position: absolute;
  right: 0;
}

.togglePasswordVisibilityIcon {
  cursor: pointer;
  left: unset;
  right: 10px;
}

.group input {
  background: var(--powder);
  border: 2px solid var(--black);
  color: var(--black);
  font-weight: 700;
  padding: var(--spacer-1) var(--spacer-2);
  text-indent: 16px;
  width: 100%;
}

.group input:focus {
  border-color: transparent;
  outline: 2px solid var(--yale-blue);
}

.group input.isInvalid {
  border-color: var(--atomic-tangerine);
  outline: 1px solid var(--atomic-tangerine);
}

.group .errorMessage {
  color: var(--atomic-tangerine);
  display: block;
  font-size: var(--small);
  margin-top: var(--spacer-1);
  text-align: left;
  top: 0;
  z-index: 1;
}

.group .isInvalid:focus + .errorMessage {
  visibility: visible;
}

.group input::placeholder {
  font-weight: 400;
}

.group .resetPassword {
  font-size: var(--small);
  font-weight: 700;
  position: absolute;
  right: 0;
  text-decoration: underline;
  top: -18px;
}

.submitBtn {
  composes: btn from "@/styles/blocks.module.css";
  cursor: pointer;
  background-color: var(--white);
  margin-top: var(--spacer-4);
  transition-duration: 0.4s;
  width: 100%;

  &:hover {
    box-shadow: 5px 5px 0 var(--black);
  }

  &:disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.divider {
  border: 1px solid var(--black);
  margin-top: var(--spacer-4);
  opacity: 0.3;
}

.oauthBtn {
  composes: btn from "@/styles/blocks.module.css";
  composes: oauthBtn from "@/components/Home/Home.module.css";
  margin: var(--spacer-4) 0 var(--spacer-2);
  transition-duration: 0.4s;
  width: 100%;

  &:hover {
    box-shadow: 5px 5px 0 var(--black);
  }
}

.githubIcon {
  composes: githubIcon from "@/components/Home/Home.module.css";
  fill: var(--white);
  position: static;
}

.authPage {
  text-decoration: underline;
}

.accountReset .submitBtn {
  margin-top: var(--spacer-2);
}

.accountReset .authPage {
  display: inline-block;
  margin-top: var(--spacer-2);
}
