.container {
  border: 2px solid var(--black);
  font-size: 0.875rem; /* not part of the typography scale */
  padding: var(--spacer-1);
}

.addCommentIcon {
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.commentBox {
  border: 2px solid var(--black);
  /* margin-bottom: var(--spacer-3);
  margin-top: var(--spacer-1); */
  padding: var(--spacer-2);
}
